.myClass { 
line-height: 50px;
text-align: right;
font-family: "Arial";
padding: 0 15px;
color: white;
font-size: 2vw;
    }
@media (min-width: 1200px) {
  .myClass {
    line-height: 50px;
    text-align: center;
    font-family: "Arial";
    padding: 0 15px;
    color: white;
    font-size: x-large
  }
}